@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thay Souza</h1>
    <h2 class="display-2">Nail Design</h2>
    <p>Página Inicial sobre o trabalho da Thay <a href="https://www.instagram.com/by.thaysousa/">Visite o Insta</a>.</p>
</div>
